.programms {
    padding: 50px 0 50px;
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #4299E5;
    }
    &__content {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__item {
        padding: 40px;
        background-color: #fff;
        border: 1px solid #D7D7D7;
        width: 50%;
        display: flex;
        position: relative;
        height: 360px;
        border-radius: 20px;
    }
    &__block {
        z-index: 2;
        width: 50%;
    }
    &__name {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.03em;
        color: #4299E5;
    }
    &__subname {
        margin: 15px 0 0;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #143341;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    &__img {
        position: absolute;
        z-index: 1;
        right: 5px;
        bottom: 0;
    }
    &__btn {
        text-align: center;
        background: -webkit-gradient(linear, left top, left bottom, from(#50B9F4), to(#0A9AEB));
        background: linear-gradient(180deg, #50B9F4 0%, #0A9AEB 100%);
        -webkit-box-shadow: 0px 4px 8px rgb(10 154 235 / 30%);
        box-shadow: 0px 4px 8px rgb(10 154 235 / 30%);
        border-radius: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        padding: 6px 22px;
        border: none;
        margin-top: 90px;
    }
}